<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <!-- Google Material UI Icons -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Catchify styles -->
      <link rel="stylesheet" href="{{ path '/_base.css' }}">
      <link rel="stylesheet" href="{{ path '/_accordion.css' }}">
      <link rel="stylesheet" href="{{ path '/_forms.css' }}">
      <link rel="stylesheet" href="{{ path '/_buttons.css' }}">
      <link rel="stylesheet" href="{{ path '/_modal.css' }}">
      <link rel="stylesheet" href="{{ path '/_messages.css' }}">
      <link rel="stylesheet" href="{{ path '/_tabs.css' }}">
      <title>Preview</title>
  </head>
  <body>

    <div class="container">
      {{{ yield }}}
    </div>

    <script src="{{ path '/bundle.js' }}"></script>
    <script src="{{ path '/accordion.js' }}"></script>
    <script src="{{ path '/forms.js' }}"></script>
    <script src="{{ path '/tabs.js' }}"></script>
    <script src="{{ path '/modal.js' }}"></script>
  </body>
</html>
