<h2>Primary</h2>
<button class="btn">{{ text }}</button>
<button class="btn btn--small">{{ text }}</button>

<h2>Secondary</h2>
<button class="btn btn-secondary">{{ text }}</button>
<button class="btn btn-secondary btn-secondary--small">{{ text }}</button>

<h2>Ternary</h2>
<button class="btn btn-ternary">{{ text }}</button>
<button class="btn btn-ternary btn-ternary--small">{{ text }}</button>
